<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Self Service Order</title>
    </head>

    <body>
        
        <main id="app">
            
            <section v-if="true" class="items">
                <h4>Pick Your Items</h4>

                <!--Para cada produto encontrado dentro do ARRAY PRODUCTS será executado esta esrutura-->
                <!-- @click="product.active = !product.active" quando for clicado vai receber o valor diferente para a propriedade active-->
                <!--:class = "products.active ? 'selected': '' operado ternário define se a propriedade for verdadadeiro então adiciona a classe "-->
                <div v-for="product in products"
                class="product"
                @click="product.active = !product.active"

                :class="product.active ? 'selected' : ''"
                >
                    <div class="photo">
                        <!--Os dois pontos : representa que ali esta sendo passado uma variavel , são uma repesentaçao do v-bind-->
                        <img :src="product.photo">
                    </div>
                    <div class="description">
                        <span class="name">{{product.name}}</span>
                        <span class="price">{{product.price}}</span>
                        <!--O v-if é utilizado aqui para mostrar ou não determinado elemento, se product.active for verdadeiro então mostra o elemento ou seja
                        quando for clicado-->
                        <div class="quantity-area" v-if="product.active">

                            <!--atribui o evento click com o decremento, tambem utiliza o event modifiers .stop-->
                            <!--quando :disabled for verdadeiro executa o condição-->
                            <button @click.stop="product.quantity--" :disabled="product.quantity <= 1">-</button>
                            <span class="quantity">{{product.quantity}}</span>
                            <button @click.stop="product.quantity++">+</button>
                        </div>
                    </div>
                </div>
            
    
            </section>

            <section class="summary">
                <strong>Resumo do pedido</strong>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products">


                            <!--Quando o product.active for verdadeiro, então sera mostrado a quantidade e o total -->
                            <template v-if="product.active">
                                <td>{{ product.quantity + ' x ' + product.name}}</td>
                                <!--Método fixed para formatar as virgulas-->
                                <td>{{ (product.quantity * product.price).toFixed(2) }}</td>
                            </template>
                          
                        </tr>
                        
                        <tr>
                            <th>Total</th>
                            <th>5.99</th>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>
        <!--Install via CDN adicionado antes do scriptJs-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="scripts.js"></script>




    </body>

</html>